[submodule "tome_engine/third_party/flecs"]
	path = tome_engine/third_party/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "tome_engine/third_party/spdlog"]
	path = tome_engine/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
